*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist",sans-serif;
} 
html{
  font-size: 62.5%;
}
h1,h2,h3,h4,h5,h6{
  color: var(--heading-colour);
  font-family: "poppins",sans-serif;
  font-weight: 900;
}
h1{
  font-size: 3.2rem;
}

p,li,a,label{
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--para-colour);
  line-height: 1.5;
  font-weight: 400;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
:root{
  --main-colour:#0062ff;
  --supporting-colour:#ebf3fe;
  --font-colour:#424242;
  --bg-colour:#ffffff;
  --heading-colour:#000a19;
  --h-colour:#0a043c;
  --white-colour:#ffffff;
  --text:#070101;
  --para-colour:#504e4d;
  --btn-hover-bg-color:#003b99;
  --btn-box-shadow:rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
.container{
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}
.grid{
  display: grid;
  gap: 9.6rem;
}
.grid-two-cols{
  grid-template-columns: repeat(2,1fr);
}
.grid-three-cols{
  grid-template-columns: repeat(3,1fr);
}
